footer {
    background-color: #000;
    /* light green */
    color: #f0f0f0;
    /* dark green text */
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    font-family: "Arial", sans-serif;
    border-top: 2px solid #F5E9D3;
    /* medium green border */
}

footer p {
    margin: 0.2rem 0;
}

footer a {
    color: #F5E9D3;
    /* green link */
    text-decoration: none;
    margin: 0 5px;
    font-weight: 500;
}

footer a:hover {
    text-decoration: underline;
    color: #D4BBA5;
}