footer {
  background-color: #708090; /* light green */
  color: #f0f0f0; /* dark green text */
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-family: "Arial", sans-serif;
  border-top: 2px solid #10b981; /* medium green border */
}

footer p {
  margin: 0.2rem 0;
}

footer a {
  color: #047857; /* green link */
  text-decoration: none;
  margin: 0 5px;
  font-weight: 500;
}

footer a:hover {
  text-decoration: underline;
  color: #ff6f61;
}
